@tailwind base;
@tailwind components;
@tailwind utilities;

main > input:checked + label + ul {
  @apply block;
}

main > input:checked + label {
  @apply bg-primary font-bold text-black;
}

main > label:last-of-type {
  @apply border-r-0;
}

@font-face {
  font-family: 'Agbalumo';
  src: url('fonts/Agbalumo.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('fonts/DMMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('fonts/DMMono-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DM Mono';
  src: url('fonts/DMMono-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('fonts/DMMono-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'DM Mono';
  src: url('fonts/DMMono-Medium.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('fonts/DMMono-MediumItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
